* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.index > .tile {
    height: 30%;
    width: 30%;
    background-color: yellow;
    border: solid black 1px;
    margin: 2em;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.index .tile h1 {
    vertical-align: middle;
}